Sub Workflow Mails.json
{
  "name": "Sub Workflow Mails",
  "nodes": [
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', `Die Message-ID der Email.`, 'string') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        288,
        592
      ],
      "id": "121cd8d1-ed4a-4861-a941-2c1fa31f44b1",
      "name": "markRead",
      "webhookId": "c0ae7f4e-31be-41cd-a899-883b4f5685f6",
      "credentials": {
        "gmailOAuth2": {
          "id": "T5jksOpWhqkjtQoA",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', `Der Betreff der Email.`, 'string') }}",
        "emailType": "html",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', `Die Nachricht der Email.`, 'string') }}",
        "options": {
          "threadId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Thread_ID', `Die Thread ID der Email, auf die du antworten sollst.`, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        128,
        592
      ],
      "id": "57a57341-d876-4eba-9224-f12a4a70cca1",
      "name": "saveReplyDraft",
      "webhookId": "0d64fe08-acf1-4900-99f5-0a34c3b86dbf",
      "credentials": {
        "gmailOAuth2": {
          "id": "T5jksOpWhqkjtQoA",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "simple": false,
        "filters": {
          "labelIds": [
            "UNREAD",
            "INBOX"
          ],
          "sender": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Sender', `Der Sender der Email.`, 'string') }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -448,
        592
      ],
      "id": "28ca0c79-f6cc-4175-85ad-334959138205",
      "name": "getEmails",
      "webhookId": "312f5bbf-7614-4d1a-befc-7592c0367f92",
      "credentials": {
        "gmailOAuth2": {
          "id": "T5jksOpWhqkjtQoA",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', `Die Thread ID der Email, auf die du antworten sollst.`, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', `Der Inhalt der Email.`, 'string') }}",
        "options": {
          "appendAttribution": false,
          "senderName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Sender_Name', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -16,
        592
      ],
      "id": "bfd8d364-dc1c-45e5-9174-c251d5f41647",
      "name": "sendReply",
      "webhookId": "bc2509c0-b19d-497e-b0ca-e22aa4c362f2",
      "credentials": {
        "gmailOAuth2": {
          "id": "T5jksOpWhqkjtQoA",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', `Die Email Adresse des Empfängers.`, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', `Der Betreff der Email.`, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', `Den Inhalt der Email.`, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -304,
        592
      ],
      "id": "43efe914-9542-44cd-a33b-0e70a29b513f",
      "name": "sendEmail",
      "webhookId": "180e0df0-cd79-4ee1-a3b7-660825b2a686",
      "credentials": {
        "gmailOAuth2": {
          "id": "T5jksOpWhqkjtQoA",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', `Der Betreff der Email.`, 'string') }}",
        "emailType": "html",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', `Die Nachricht der Email.`, 'string') }}",
        "options": {
          "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To_Email', `Die Email des Empfängers.`, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -160,
        592
      ],
      "id": "29950060-d352-4667-acb3-b169eaafebb1",
      "name": "saveEmailDraft",
      "webhookId": "82eec91a-c9a1-40ed-bfc8-556c153390f7",
      "credentials": {
        "gmailOAuth2": {
          "id": "T5jksOpWhqkjtQoA",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsUnread",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', `Die Message-ID der Email.`, 'string') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        448,
        592
      ],
      "id": "c7b94720-58eb-46cd-89f3-79c5975a7ece",
      "name": "markUnread",
      "webhookId": "438ce016-c775-4f22-943e-619915336683",
      "credentials": {
        "gmailOAuth2": {
          "id": "T5jksOpWhqkjtQoA",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', `Die ID der Nachricht.`, 'string') }}",
        "labelIds": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Label_Names_or_IDs', `Die ID des Labels.`, 'string') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        752,
        592
      ],
      "id": "bc1e3840-7fa8-4a07-b265-a2d89f4fca48",
      "name": "labelEmails",
      "webhookId": "9af105a2-4f93-4089-8908-ffb714bf1740",
      "credentials": {
        "gmailOAuth2": {
          "id": "T5jksOpWhqkjtQoA",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "resource": "label"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        608,
        592
      ],
      "id": "1e360759-fb2f-40e1-be5a-6a101ceb5cff",
      "name": "getLabels",
      "webhookId": "39cedbc5-7f7a-4900-889d-51d32f38d69b",
      "credentials": {
        "gmailOAuth2": {
          "id": "T5jksOpWhqkjtQoA",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -736,
        160
      ],
      "id": "38c3478a-f391-48a5-8d80-c2d31e740e40",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f360190-a717-4a93-8336-d03ea65975d5",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "1250b430-ac53-4415-9aa8-a99cf90a6b9d",
      "name": "Response"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f360190-a717-4a93-8336-d03ea65975d5",
              "name": "response",
              "value": "An error occurred. Please try again.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        160
      ],
      "id": "4f425ee4-3380-4ba6-97d2-5b00f15a97b6",
      "name": "Try Again"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=# Role  \nYour task is to manage, read, and write Priyanshu`s emails. Make sure to use the correct tool based on the request.  \n\n# INFORMATION  \n- date and time: **{{ $now }}**  \n- You format emails professionally, following standard email writing conventions. \n- The name at the end of the email, after the closing, is always **\"Priyanshu\"**.  \n\n# Examples:  \n*\"Send an email to...\"* → Use the **sendEmail** tool  \n*\"Reply to this email with a draft...\"* → Use the **saveReplyDraft** tool  \n\n# TOOLS  \n\n## getEmails  \nUse this tool to retrieve unread emails.  \n\n## saveEmailDraft  \nUse this tool to create a draft of an email.  \n\n## sendEmail  \nUse this tool to send an email.  \n\n## saveReplyDraft  \nUse this tool to save a draft for an email reply. You must first use **\"getEmails\"** to retrieve the thread ID of the email you need to reply to with a draft.  \n\n## sendReply  \nUse this tool to send an email reply. You must first use **\"getEmails\"** to retrieve the message ID of the email you want to reply to.  \n\n## getLabels  \nUse this tool to retrieve available labels.  \n\n## labelEmails  \nUse this tool to label an email. First, use **\"getEmails\"** to get the message ID of the email you want to label. Then, use **\"getLabels\"** to obtain the label ID.  \n\n## markRead  \nUse this tool to mark an email as read. You must first use **\"getEmails\"** to get the message ID of the email to be marked.  \n\n## markUnread  \nUse this tool to mark an email as unread. You must first use **\"getEmails\"** to get the message ID of the email you want to mark as unread.  \n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -448,
        192
      ],
      "id": "01b8f1fd-03d6-420d-9dd8-bf3753b28c7d",
      "name": "Email Agent",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-haiku-4-5-20251001",
          "mode": "list",
          "cachedResultName": "Claude Haiku 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -592,
        400
      ],
      "id": "56fe2c98-1669-448b-9683-b19a7c09aeb0",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "Ypbzk0cI4NkgduXt",
          "name": "Anthropic account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "markRead": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "saveReplyDraft": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "getEmails": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "sendReply": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "sendEmail": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "saveEmailDraft": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "markUnread": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "labelEmails": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "getLabels": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Email Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Agent": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Try Again",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Email Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e9b01525-dbc1-42fb-aa83-a42f6e0b21c2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ef1a3829aab90db197d57980651d6dfc4ec8dfe89001dafb69d6d8bd2d7abde1"
  },
  "id": "9mETIpGzcMelDKym",
  "tags": [
    {
      "updatedAt": "2026-03-28T13:53:13.397Z",
      "createdAt": "2026-03-28T13:53:13.397Z",
      "id": "aCGQSX5YRoagaPEM",
      "name": "Maybe to Big."
    }
  ]
}